doctype html
include layouts/header.pug
// Navigation
include layouts/navbar.pug
// Page Header
include layouts/bHeader5.pug
// Main Content
main.mb-4
  .container.px-4.px-lg-5
    .row.gx-4.gx-lg-5.justify-content-center
      .col-md-10.col-lg-8.col-xl-7
        p
          | Lorem ipsum dolor sit amet, 
        p
          | Lorem ipsum dolor sit amet, 
        p
          | Lorem ipsum dolor sit amet, 

// Footer
include layouts/footer.pug
// Bootstrap core JS
include layouts/script.pug

